.idea/*
drivers/*.zip
drivers/azure_shellPackage/Resource Drivers - Python/*.zip
drivers/azure_shellPackage/Resource Drivers - Python/Azure Deploy VM Driver.zip
drivers/deployment_drivers/azure_vm/debug.xml
*.pyc
debug_info.txt
*debug.xml
package/cloudshell_cp_azure.egg-info/*
drivers/killPython.bat
*.orig
package/version.txt
/package/dist/
/venv/*
package/tests/playground.py
