python-dateutil==2.6.1
requests~=2.16
jsonpickle==0.9.3
enum==0.4.6
azure-mgmt-resource~=0.31.0
azure-mgmt-compute~=0.33.0
azure-mgmt-network~=0.30.0
azure-mgmt-storage~=0.30.0
azure-storage==0.33.0
pycrypto==2.6.1
